    html,body,main {
        width: 100%;
        height: 100%;
    }
    main div {
        width: 80%;
        height: 80%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        border: 1px solid;
        text-align: center;
        background: brown;
    }
    p {
        font-size: 50px;
        color: aliceblue;
    }